* {
  color: #fff;
}

.home {
  padding: 0 4rem;
  margin: 0 auto;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
