.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #333;
}

.bg-orange {
  background-color: #dc804f;
}

.calculator-display-value {
  display: flex;
  justify-content: flex-end;
  height: 25px;
  width: 320px;
  background-color: rgb(70, 70, 80);
  color: #fff;
}

.key {
  height: 50px;
  width: 80px;
  border: 1px solid rgb(203, 200, 200);
}

.calculator-keypad {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.calculator-keypad-function-column {
  display: flex;
  flex-direction: column;
}

.calculator-keypad-digit-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.zero {
  grid-column: 1 / span 2;
  width: 100%;
}
